@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    font-family: 'Quicksand';    
    margin: 0;
}

.navbar{
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 600px;
    color: #f1356d;
    border-bottom: 1px solid palevioletred;
}

.navbar .links {
    margin-left: auto;
}

.navbar a{
    margin-left: 15px;
    padding: 6px;
    text-decoration: none;
    border-radius: 7px;
    color: #333;
}

.navbar a:hover{
    color: #f1356d;
}
.content{
    margin: 25px auto;
    color: red;
    margin-left: 350px;
}